In [1]:
import pandas as pd

In [2]:
APP_LAUNCH = "../DataSets/app_launch_log.txt"
USER_ACTIVITY = "../DataSets/user_activity_log.txt"
USER_REGISTER = "../DataSets/user_register_log.txt"
VIDEO_CREATE = "../DataSets/video_create_log.txt"

In [3]:
app_launch = pd.read_csv(APP_LAUNCH, sep='\t', header=None, names=['user_id', 'day'])
user_activity = pd.read_csv(USER_ACTIVITY, sep='\t', header=None, names=['user_id', 'day', 'page', 'video_id', 'author_id', 'action_type'])
user_register = pd.read_csv(USER_REGISTER, sep='\t', header=None, names=['user_id', 'register_day', 'register_type', 'device_type'])
video_create = pd.read_csv(VIDEO_CREATE, sep='\t', header=None, names=['user_id', 'day'])

   user_id  day
0   383101    1
1   330955    4
2   330955    9
3   330955   11
4   330955   12

In [11]:
print(app_launch.shape)
print(user_activity.shape)
print(user_register.shape)
print(video_create.shape)

(251943, 2)
(20051557, 6)
(51709, 4)
(35151, 2)