In [1]:
import pandas as pd

In [2]:
nums = pd.read_csv('../prediction/medical_demo_xgb_111.csv',header=None)

In [3]:
nums.describe()

                 0
count  1000.000000
mean      5.669170
std       0.663737
min       4.454000
25%       5.200750
50%       5.590500
75%       6.016250
max      10.712000